[submodule "src/my_robot"]
	path = src/my_robot 
	url = git@github.com:daniel-m-campos/my_robot.git
[submodule "src/ball_chaser"]
	path = src/ball_chaser
	url = git@github.com:daniel-m-campos/ball_chaser.git
